.nav {
    background-color: #003c71;
    padding: 0 1rem;
    justify-content: flex-end;
    width: 100%;
    z-index: 2;
}

.icons-container {
    width: auto;
    justify-content: space-evenly;
    padding: 1rem;
}

.option {
    margin: 0 0.7rem;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    color: white;
}

.icons-container button {
    position: relative; /* Necesario para posicionar el ::after */
}

.icons-container button.active::after {
    content: '';
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    right: 0;
    height: 0.15rem;
    background-color: white;
}

.icons-container button.active{
    background-color: transparent;
}

.option i,
.log-out {
    transition: transform 0.3s ease;
}

.log-out:hover {
    transform: scale(1.1);
}

.option:hover i {
    transform: scale(1.2);
}

.log-out {
    margin-left: 5rem;
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
}

/* Pantallas medianas (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .option > i {
        font-size: 1.25rem;
    }

    .log-out {
        font-size: 1rem;
    }
}

/* Pantallas grandes (1024px a 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
    .option > i {
        font-size: 1.5rem;
    }

    .log-out {
        font-size: 1rem;
    }
}

/* Pantallas extra grandes (1280px a 1535px) */
@media (min-width: 1280px) and (max-width: 1535px) {
    .option > i {
        font-size: 1.75rem;
    }

    .log-out {
        font-size: 1rem;
    }
}

/* Pantallas ultra grandes (1536px en adelante) */
@media (min-width: 1536px) {
    .option > i {
        font-size: 1.5rem;
    }

    .log-out {
        font-size: 1rem;
    }
}
