.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5rem;
    margin: 10px;
  }


button {
    margin-top: 10px;
    background: #d6caca;
    color: #080808;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}


button.active {
    background: #081c66;
    color: #f3eded;
}

button:hover {
    opacity: 0.9;
}
  