.tab-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 10px;
  }


button.nav-access-btn {
    margin-top: 10px;
    color: #080808;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}


.tab-container button.active {
    background: #081c66;
    color: #f3eded;
}

.tab-container  button:hover {
    opacity: 0.9;
}
  