:root {
  --bg-color-blue: #003c71;
  --bg-color-gray-light: #d9d9d9;
  --bg-color-gray-dark: #a4a1a8;
  --bg-color-white: #ffffff;
  --bg-color-dark: #000000;
  --bg-color-success: #568d50;
  --bg-color-warning: #ff9910;
  --bg-color-danger: #da4f4f;
  --bg-background: rgb(248, 246, 243);
  --text-color-gray: #666;
}
