/* Estilo para el contenedor principal */
@import url("../../../styles/color-variables.css");

* {
  font-size: 1rem;
}

.home-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.content-from-main {
  grid-column: 1/-1;
  min-height: 50vh;
  width: 90%;
  margin: 0 auto 5rem;
}

.match-cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 575px) {
  /* Estilos para pantallas móviles muy pequeñas */
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Estilos para pantallas móviles grandes */
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tabletas */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Estilos para laptops pequeños y pantallas medianas */
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* Estilos para monitores grandes */
}

@media (min-width: 1400px) {
  /* Estilos para monitores muy grandes */
}
