.admin-home-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.admin-home-main-content {
  grid-column: 1/-1;
  min-height: 50vh;
  width: 90%;
  margin: 0 auto 5rem;
}

/* Título de cada sección */
.admin-home-matches-section h2,
.admin-home-trainings-section h2 {
  color: var(--bg-color-blue);
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.admin-home-main-section {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.admin-home-matches-section,
.admin-home-trainings-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.admin-home-matches-list,
.admin-home-trainings-list {
  padding-top: 2rem;
  border-top: 1px solid var(--bg-color-gray-light);
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .admin-home-matches-list,
  .admin-home-trainings-list {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .admin-home-matches-list,
  .admin-home-trainings-list {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .admin-home-matches-list,
  .admin-home-trainings-list {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .admin-home-matches-list,
  .admin-home-trainings-list {
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}
