.admin-history-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.admin-history-main-content {
  grid-column: 1/-1;
  min-height: 50vh;
  width: 90%;
  margin: 2rem auto 5rem;
}


