@import "../../../styles/color-variables.css";
.user-trainings-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-background);
  }
  
  .user-trainings-content {
    grid-column: 1/-1;
    min-height: 50vh;
    width: 90%;
    margin: 2rem auto 5rem;
  }
  
  .current-week {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color-blue);
    margin-bottom: 20px;
  }
  
  .sport-selector {
    margin-bottom: 20px;
  }
  
  .sport-select {
    padding: 5px;
    border-radius: 4px;
  }
  

  