.admin-home-match-item {
    display: flex;
    align-items: center;
    background-color: var(--bg-background);
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    gap: 2rem;
}

.admin-home-team-logos img {
    height: auto;
    width: 3rem;
    object-fit: cover;
}

.admin-home-match-item .admin-home-match-details .admin-home-team-logos {
    display: flex;
    height: auto;
    padding: 0.3rem;
    align-items: center;
    gap: 1.5rem;
}

.admin-home-match-item:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.admin-home-match-status-icon {
    align-self: self-start;
    color: var(--bg-color-success);
}

.admin-home-match-item .admin-home-match-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.admin-home-match-details-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-home-match-cell {
    padding: 0.75rem;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid var(--bg-color-gray-light);
}


.admin-home-match-cell:first-child {
    font-weight: bold;
}


@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tabletas */
    .admin-home-match-item {
        max-width: max-content;
    }

    .admin-home-match-details tr td {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .admin-home-match-item {
        max-width: max-content;
    }

    .admin-home-match-details tr td {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .admin-home-match-item {
        max-width: max-content;
    }

    .admin-home-match-details tr td {
        font-size: 0.8rem;
    }
}

@media (min-width: 1400px) {
    .admin-home-match-item {
        max-width: 17.5rem;
    }

    .admin-home-match-details tr td {
        font-size: 0.9rem;
    }
}
